@charset "UTF-8";
body {
	font-size: 1em;
	font-family: "Raleway", sans-serif;
	font-family: sans-serif;
}
input[type=checkbox],
input[type=radio] {
	opacity: 1;
}
h1 {
	font-weight: 500;
	line-height: 1.2;
    font-size: 3rem;
}
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0rem 4rem 0rem;
	font-weight: 700;
	line-height: 1.2
}
// h2 {
// 	font-size: 2rem;
// }

// h3 {
// 	font-size: 1.5rem;
// }

// h4 {
// 	font-size: 1.3rem;
// }

// h5 {
// 	font-size: 1rem;
// }

// h6 {
// 	font-size: 0.8rem;
// }


a {
	font-size: 1em;
}
a:focus,
a:hover {
	color: #fff;
	text-decoration: none;
}

p {
	font-size: 1em;
	margin: auto;
}

label {
	font-size: 1em;
}
li{
	font-size: 1rem;
}

.bcm-btn-red {
	background-color: #E30613;
	color: #fff;
}

.bcm-btn-black,
.bcm-btn-black:hover {
	background-color: #000000;
	color: #fff;
}

/*--------------------------------------------------------------------*/
/*Default Table CSS*/
/*--------------------------------------------------------------------*/

table {
    width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
    border-spacing: 0;
	border-collapse: collapse;
    thead {
        display: table-header-group;
        tr{
           th{
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
            padding: 8px;
	        line-height: 1.42857143;
	        vertical-align: top;
			font-size: 1.4em;
           }
           td{
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
			font-size: 1.2em;
	        font-weight: normal;
            span{
                #image{
                    width: 200px;
                }
            }
           }
        }
    } 
}

ul {
	margin: 0;
}

.bcm-heading-red {
	color: #E30613;
}

.alert {
	margin-bottom: 0px;
}
form .label-important:after{
	display: inline;
	float: none;
	color: red !important;
	font-weight: bold;
	margin: 0;
	padding: 0;
	content: '*';
	padding-left: 0.2rem;
}


/*---------Page ScrollUp---------*/
.ptsBox{
	a{
		.arrowUp {
			background: #000;
			color: #fff;
			width: 55px;
			height: 55px;
		}
	}
}

#successMessage {
	font-size: 1.4rem;
}

.section-padding {
	padding: 1rem 0rem;
}
.container-bcm {
    width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.modal {
	background: transparent;
	box-shadow: none;
}
