/*--------------------------------------------------------------------*/
/*Navbar*/
/*--------------------------------------------------------------------*/
.bcm-navbar {
    background-color: #E30613;
    margin-bottom: 0;
     .navbar-header{
      .navbar-toggler{
         border-color: #fff;
         border: 1px solid #fff;
         background: #fff;
       }
       .navbar-brand {
         padding: 0;
         .bcm-brand-logo {
            max-width: 25%;
            height: auto;
         }
      }
    }
    .navbar-collapse{
       .navbar-nav{
          li{
             a{
               color: #fff;
               font-size: 1em;
             }
             .nav-link {
               padding: 0.3rem 1rem;
           }
             a:hover,a:focus{
                background-color: transparent;
             }
          }
          .active{
             a,a:focus,a:hover{
               color: #fff;
               background-color: #000;
               line-height: 19px;
             }
          }
       }
       .pullright {
         float: right;
       }
       .show{
          a, a:hover,a:active, a:focus{
            background-color:#000;
            color:#fff;
          }
          .bcm-dropdown-menu{
            background-color:#000;
            padding:0;
            li{
               a{
                  color:#fff;
               }
               a:hover{
                  color:#000;
                  background-color:#fff;
               }
            }
          }
       }
    }
 }

 /*--------------------------------------------------------------------*/
/*Footer*/
/*--------------------------------------------------------------------*/
 .bcm-footer
 {
   background-color: #000;
   bottom: 0;
   width: 100%;
   min-height: 40px;
   align-self: flex-end;
   margin-top: 2rem;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   .footer-center{
      ul{
         li{
            list-style-type: none;
            color: #fff;
            line-height: 4rem;
            text-align: end;
            p{
               line-height: 1.2em;
               padding-top: 1em;
               text-align: center;
               padding-bottom: 1em;
            }
         }
      }
   }
   .footer-right ul {
      float: right;
      margin: 0;
      li{
         list-style-type: none;
         display: inline-flex;
         padding: 0.5em;
         .bcm_icon {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            line-height: 3.5rem;
            text-align: center;
            i {
               font-size: 1.2rem;
               line-height: 1.9rem;
            }
         }
         .bcm_facebook {
            background: #3b5998;
            color: #fff;
         }
         .bcm_twitter{
            background: #55acee;
            color: #fff;
         }        
         .bcm_linkedin {
            background: #0077b5	;
            color: #fff;
         }    
         .bcm_blogger {
            background: #f57d00	;
            color: #fff;
         }        
         .bcm_instagram {
            background: #c32aa3;
            color: #fff;
         }     
         .bcm_youtube {
            background: #ff0000;
            color: #fff;
         }
      }
   }
 }

 
 