<%- include('../../partials/header'); %> 
<div class="reset-password">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="password-reset-body">
                    <div class="reset-heading">
                       <h1>Reset Password</h1>
                       <form method="post" action="/reset-password">
                        <div class="form-group">
                            <label class="label-important">Email</label>
                            <input type="email" class="form-control" placeholder="Email" name="email">
                            <br>
                            <button type="submit" class="btn bcm-btn-red">Submit</button>
                         </div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer'); %>