<%- include('../../partials/header'); %> 
     <% if(typeof alert != 'undefined') { %>
        <% alert.forEach(function(error) { %>
            <div class="alert alert-warning" id ="alertMessage" role="alert">
                <%= error.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
        <% }) %>
     <% } %>

<div class="bcm_register">
    <div class="container">
       <h2 class="page-header">Register</h2>
       <p class="register-note"><em><span>*</span> Password Must contain at least one number, one uppercase, lowercase letter, one special character and at least 5 or more characters.(Example: abhaySingh@123) </em></p>
       <form method="post" action="/register">
          <div class="form-group">
             <label class="label-important">Name</label>
             <input type="text" class="form-control" placeholder="Name" name="name">
          </div>
          <div class="form-group">
             <label class="label-important">Username</label>
             <input type="text" class="form-control" placeholder="Username" name="username">
          </div>
          <div class="form-group">
             <label class="label-important">Email</label>
             <input type="email" class="form-control" placeholder="Email" name="email">
          </div>
          <div class="form-group">
             <label class="label-important">Password</label>
             <input type="password" class="form-control" placeholder="Password" name="password">
          </div>
          <div class="form-group">
             <label class="label-important">Confirm Password</label>
             <input type="password" class="form-control" placeholder="Password" name="password2">
          </div>
          <button type="submit" class="btn bcm-btn-red">Submit</button>
       </form>
    </div>
 </div>
 <%- include('../../partials/footer'); %>
<script type="text/javascript">
   setTimeout(function () {
       // Closing the alert
       $(' #alertMessage').alert('close');
   }, 4000);
</script>