<%- include('../../partials/header'); %>
<style>
   .slide3-label {
   margin-bottom: 4rem;
   font-weight: 600;
   }
   .nav-tabs>li.active>a {
   color: #e30613;
   }
   .nav-tabs>li>a {
   color: #000;
   }
</style>
<section class="service-form">
   <div class="container">
      
 <div id="accordion">
   <div class="card">
     <div class="card-header" id="headingOne">
       <h5 class="mb-0">
         <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span class="round-tabs one">
               <i class="fas fa-store"></i>
               Create Requirement
               </span>
         </button>
       </h5>
     </div>
 
     <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
       <div class="card-body">
         <form action="/createRequirement" method="POST">
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Product Name"
                  name="productName">
            </div>
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Product Quantity"
                  name="productQuantity">
            </div>
            <div class="form-group">
               <input type="text" class="form-control" placeholder="product Color"
                  name="productColor">
            </div>
            <div class="form-group">
               <label for="slider3" class="slide3-label">Budget (in RS)</label>
               <div class="slider-container">
                  <input type="text" id="slider3" class="slider" name="budget" />
               </div>
            </div>
            <div class="form-group">
               <textarea class="form-control" rows="3" placeholder="Description"
                  name="description"></textarea>
            </div>
            <button type="submit" class="btn bcm-btn-red">Create</button>
         </form>
       </div>
     </div>
   </div>
   <div class="card">
     <div class="card-header" id="headingTwo">
       <h5 class="mb-0">
         <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span class="round-tabs two">
               <i class="fas fa-users-cog"></i>
               Create Service
               </span>
         </button>
       </h5>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
       <div class="card-body">
         <form action="/createService" method="POST">
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Service Name"
                  name="serviceName">
            </div>
            <% if (profile.length>0) { %>
            <% profile.map((result)=>{%>
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Address"
                  name="address" value="<%=result.address%>">
            </div>
            <div class="form-group">
               <input type="text" class="form-control"
                  placeholder="Mobile Number" name="phone"
                  value="<%=result.phone%>">
            </div>
            <% }) %>
            <% } else { %>
            <div class="form-group">
               <input type="text" class="form-control"
                  placeholder="Address" name="address">
            </div>
            <div class="form-group">
               <input type="text" class="form-control"
                  placeholder="Mobile Number" name="phone">
               <% } %>
               <div class="form-group">
                  <textarea class="form-control" rows="3"
                     placeholder="Description"
                     name="description"></textarea>
               </div>
               <button type="submit"
                  class="btn bcm-btn-red">Create</button>
         </form>
       </div>
     </div>
   </div>
 </div>



   </div>
</section>
<%- include('../../partials/footer'); %>
<script>

</script>
<script>
   (function () {
       'use strict';
   
       var init = function () {
           var slider3 = new rSlider({
               target: '#slider3',
               values: { min: 0, max: 5000 },
               step: 10,
               range: true,
               set: [50, 500],
               scale: true,
               labels: false,
               onChange: function (vals) {
                   console.log(vals);
               }
           });
       };
       window.onload = init;
   })();
</script>